{% extends "BossCustomerBundle::account.html.twig" %}
{% block bundle %}
<h3>Dénomination et activité</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.legalname, "Dénomination Sociale", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.legalname) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.legalname, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.abbreviation, "Sigle", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.abbreviation) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.abbreviation, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.sign, "Enseigne", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.sign) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.sign, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.headoffice, "Type de siège social", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.headoffice) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.headoffice, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.address, "Adresse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.address) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    
      <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.postcode, "Code postal", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.postcode) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.city) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>
      {{ form_end(form) }}
</div>
{% endblock %}
